<div class="login-container">
    <div class="input-container">
        <form class="login-form-container" method="post" action="/auth/signin" method="post">
            <h1>sign<span class="red-low-dash">_</span>in</h1>
            <p>ℹ️ If you just want to test the app, click enter</p>
            <span class="red-low-dash error">{{error}}</span>
            <div class="login-input">
                <label for="email"><i class="fas fa-envelope"></i></label>
                <input id="email" type="email" placeholder="email" name="email" value="guest@mail.com" required>
            </div>
            <div class="login-input">
                <label for="password"><i class="fas fa-key"></i></label>
                <input id="password" type="password" placeholder="password" value="12345" name="password" required>
            </div>
            <button>enter</button>
            <p>No account yet?<a class="auth-link" href="/auth/signup"> <span class="red-low-dash">Signup now</span></a>
            </p>
        </form>
    </div>
</div>