<div class="form-container">
    <div class="auth-container">
        <h1 class="form-title">SIGN UP</h1>
        <form class="form" method="post" action="/auth/signup" method="post">
            <div class="form-item">
                <label for="firstname">First name</label>
                <input id="firstname" type="text" placeholder="Albert" name="firstname" required value="yo">
            </div>
            <div class="form-item">
                <label class="form-label" for="lastname">Last name</label>
                <input id="lastname" type="text" placeholder="Dupont" name="lastname" required value="foo">
            </div>
            <div class="form-item">
                <label class="form-label" for="email">Email</label>
                <input id="email" type="email" placeholder="foo@gmail.com" name="email" required value="foo@gmail.com">
                {{error}}
            </div>
            <div class="form-item">
                <label class="form-label" for="password">Password</label>
                <input id="password" type="password" name="password" required value="123456789">
            </div>
            <button>Create Account</button>
        </form>

        <p>Already have an account?</p>
        <a href="/auth/signin">Signin</a>
    </div>
</div>