<form action="/coffee/create" method="POST">
    <label for="name"></label>
    <input id="name" name="name" type="text">

    <label for="country"></label>
    <input id="country" name="country" type="text">
    
    <label for="region"></label>
    <input id="region" name="region" type="text">
    
    <label for="dryingMethod"></label>
    <input id="dryingMethod" name="dryingMethod" type="text">
    
    <label for="altitude"></label>
    <input id="altitude" name="altitude" type="number">
    
    <label for="roastflavorProfile"></label>
    <input id="roastflavorProfile" name="roastflavorProfile" type="text">
    
    <label for="flavorProfile"></label>
    <input id="flavorProfile" name="flavorProfile" type="text">
</form>