<h2 class="form-title">+ add a new log</h2>


<div class="form-radio-item">
    <h3 class="form-radio-title">How was your coffee?</h3>
    <div>
        <input type="radio" id="satisfaction-1" name="satisfaction" value="1" required>
        <label for="satisfaction">Disgusting</label>
    </div>
    <div>
        <input type="radio" id="satisfaction-2" name="satisfaction" value="2">
        <label for="satisfaction">Quite bad</label>
    </div>
    <div>
        <input type="radio" id="satisfaction-3" name="satisfaction" value="3">
        <label for="satisfaction">Ok</label>
    </div>
    <div>
        <input type="radio" id="satisfaction-4" name="satisfaction" value="4" checked>
        <label for="satisfaction">Good</label>
    </div>
    <div>
        <input type="radio" id="satisfaction-4" name="satisfaction" value="5">
        <label for="satisfaction">Delicious</label>
    </div>
</div>

<div class="form-radio-item">
    <h3 class="form-radio-title">Acidity</h3>
    <div>
        <input type="radio" id="acidity-1" name="acidity" value="not acid" required>
        <label for="acidity">Not acid</label>
    </div>
    <div>
        <input type="radio" id="acidity-2" name="acidity" value="a little acid">
        <label for="acidity">A little acid</label>
    </div>
    <div>
        <input type="radio" id="acidity-3" name="acidity" value="neutral" checked>
        <label for="acidity">Neutral</label>
    </div>
    <div>
        <input type="radio" id="acidity-4" name="acidity" value="acid">
        <label for="acidity">Acid</label>
    </div>
    <div>
        <input type="radio" id="acidity-5" name="acidity" value="very acid">
        <label for="acidity">Very acid</label>
    </div>
</div>

<div class="form-radio-item">
    <h3 class="form-radio-title">Intensity</h3>
    <div>
        <input type="radio" id="intensity-1" name="intensity" value="light" required>
        <label for="intensity">Light</label>
    </div>
    <div>
        <input type="radio" id="intensity-2" name="intensity" value="moderate">
        <label for="intensity">Moderate</label>
    </div>
    <div>
        <input type="radio" id="intensity-3" name="intensity" value="medium" checked>
        <label for="intensity">Medium</label>
    </div>
    <div>
        <input type="radio" id="intensity-4" name="intensity" value="strong">
        <label for="intensity">Strong</label>
    </div>
    <div>
        <input type="radio" id="intensity-5" name="intensity" value="very strong">
        <label for="intensity">Very Strong</label>
    </div>
</div>

<div class="form-radio-item">
    <h3 class="form-radio-title">Bitterness</h3>
    <div>
        <input type="radio" id="bitterness-1" name="bitterness" value="not bitter" required>
        <label for="bitterness">Not bitter</label>
    </div>
    <div>
        <input type="radio" id="bitterness-2" name="bitterness" value="a little bitter">
        <label for="bitterness">A little bitter</label>
    </div>
    <div>
        <input type="radio" id="bitterness-3" name="bitterness" value="neutral" checked>
        <label for="bitterness">Neutral</label>
    </div>
    <div>
        <input type="radio" id="bitterness-4" name="bitterness" value="bitter">
        <label for="bitterness">Bitter</label>
    </div>
    <div>
        <input type="radio" id="bitterness-5" name="bitterness" value="very bitter">
        <label for="bitterness">Very bitter</label>
    </div>
</div>

<div class="form-radio-item">
    <h3 class="form-radio-title">Flavor profile</h3>
    <div>
        <input type="checkbox" id="fruity-profile" name="flavorProfile" value="fruity">
        <label for="flavorProfile">Fruity</label>
    </div>
    <div>
        <input type="checkbox" id="acidic-profile" name="flavorProfile" value="acidic">
        <label for="flavorProfile">Acidic</label>
    </div>
    <div>
        <input type="checkbox" id="nutty-profile" name="flavorProfile" value="nutty">
        <label for="flavorProfile">Nutty</label>
    </div>
    <div>
        <input type="checkbox" id="sweet-profile" name="flavorProfile" value="sweet">
        <label for="flavorProfile">Sweet</label>
    </div>
    <div>
        <input type="checkbox" id="floral-profile" name="flavorProfile" value="floral">
        <label for="flavorProfile">Floral</label>
    </div>
    <div>
        <input type="checkbox" id="burned-profile" name="flavorProfile" value="burned">
        <label for="flavorProfile">Burned</label>
    </div>
</div>

<div class="notes-item">
    <label class="notes-label" for="log-description">Notes</label>
    <input class="notes-input" type="textarea" id="log-description" placeholder="add a few notes about your log"
        name="description">
</div>

<div class="flex-btn-container">
    <a id="new-log-back-btn" class="hidden">< go back</a>
    <button class="btn red-background form-btn">save log</button>
</div>