<div class="form-container">
    <form id="create-new-coffee" action="/coffee/create" method="POST">
        <h1 class="form-title">Add a new coffee</h1>

        <div>
        <label for="name">Name</label>
        <input id="coffee-name" name="name" placeholder="HEIRLOOM" type="text" required value="Test">
        </div>

        <div>
        <label for="country">Country</label>
        <input id="coffee-country" name="country" placeholder="Simada" type="text" required value="Test">
        </div>

        <div>
        <label for="region">Region</label>
        <input id="coffee-region" name="region" placeholder="Ethiopia" type="text" value="Test">
        </div>

        <div>
        <legend>Drying Method</legend>
        <label>
            <input type="radio" name="dryingMethod" value="humid - washed" required>
            Humid - washed
        </label>

        <label>
            <input type="radio" name="dryingMethod" value="naturally dried">
            Naturally dried
        </label>
        </div>

        <div>
        <label for="altitude">Altitude</label>
        <input id="coffee-altitude" name="altitude" placeholder="1000" type="number" value="1500">
        </div>

        <div>
        <legend>Roast</legend>
        <label>
            <input type="radio" name="roast" value="light roast" required>
            Light roast
        </label>

        <label>
            <input type="radio" name="roast" value="medium roast" required>
            Medium roast
        </label>

        <label>
            <input type="radio" name="roast" value="medium dark roast" required>
            Medium dark roast
        </label>

        <label>
            <input type="radio" name="roast" value="dark roast" required>
            Dark roast
        </label>
        </div>
        
       
        <label for="flavorProfile">FlavorProfile</label>
        <div>
            <input class="flavorProfile" id="fruity" name="flavorProfile" type="checkbox" value="fruity">
            <label for="fruity">Fruity</label>
        
            <input class="flavorProfile" id="acidic" name="flavorProfile" type="checkbox" value="acidic">
            <label for="acidic">Acidic</label>
        
            <input class="flavorProfile" id="nutty" name="flavorProfile" type="checkbox" value="nutty">
            <label for="nutty">Nutty</label>
     
            <input class="flavorProfile" id="sweet" name="flavorProfile" type="checkbox" value="sweet">
            <label for="sweet">Sweet</label>
        
            <input class="flavorProfile" id="floral" name="flavorProfile" type="checkbox" value="floral">
            <label for="floral">Floral</label>
  
            <input class="flavorProfile" id="burned" name="flavorProfile" type="checkbox" value="burned">
            <label for="burned">Burned</label>
        </div>
        
        <button id="save-coffee-btn">Submit</button>
    </form>
</div>