<p>How was your coffee?</p>
<div>
    <input type="radio" id="satisfaction-1" name="satisfaction" value="1" required>
    <label for="satisfaction">Disgusting</label>
</div>
<div>
    <input type="radio" id="satisfaction-2" name="satisfaction" value="2">
    <label for="satisfaction">Quite bad</label>
</div>
<div>
    <input type="radio" id="satisfaction-3" name="satisfaction" value="3">
    <label for="satisfaction">Ok</label>
</div>
<div>
    <input type="radio" id="satisfaction-4" name="satisfaction" value="4" checked>
    <label for="satisfaction">Good</label>
</div>
<div>
    <input type="radio" id="satisfaction-4" name="satisfaction" value="5">
    <label for="satisfaction">Delicious</label>
</div>

<p>Acidity</p>
<div>
    <input type="radio" id="acidity-1" name="acidity" value="1" required>
    <label for="acidity">Not acid</label>
</div>
<div>
    <input type="radio" id="acidity-2" name="acidity" value="2">
    <label for="acidity">A little acid</label>
</div>
<div>
    <input type="radio" id="acidity-3" name="acidity" value="3" checked>
    <label for="acidity">Neutral</label>
</div>
<div>
    <input type="radio" id="acidity-4" name="acidity" value="4">
    <label for="acidity">Acid</label>
</div>
<div>
    <input type="radio" id="acidity-5" name="acidity" value="5">
    <label for="acidity">Very acid</label>
</div>

<p>Intensity</p>
<div>
    <input type="radio" id="intensity-1" name="intensity" value="1" required>
    <label for="intensity">Light</label>
</div>
<div>
    <input type="radio" id="intensity-2" name="intensity" value="2">
    <label for="intensity">Moderate</label>
</div>
<div>
    <input type="radio" id="intensity-3" name="intensity" value="3" checked>
    <label for="intensity">Medium</label>
</div>
<div>
    <input type="radio" id="intensity-4" name="intensity" value="4">
    <label for="intensity">Strong</label>
</div>
<div>
    <input type="radio" id="intensity-5" name="intensity" value="5">
    <label for="intensity">Very Strong</label>
</div>

<p>Bitterness</p>
<div>
    <input type="radio" id="bitterness-1" name="bitterness" value="1" required>
    <label for="bitterness">Not bitter</label>
</div>
<div>
    <input type="radio" id="bitterness-2" name="bitterness" value="2">
    <label for="bitterness">A little bitter</label>
</div>
<div>
    <input type="radio" id="bitterness-3" name="bitterness" value="3" checked>
    <label for="bitterness">Neutral</label>
</div>
<div>
    <input type="radio" id="bitterness-4" name="bitterness" value="4">
    <label for="bitterness">Bitter</label>
</div>
<div>
    <input type="radio" id="bitterness-5" name="bitterness" value="5">
    <label for="bitterness">Very bitter</label>
</div>

<p>Flavor Profile</p>
<div>
    <input type="checkbox" id="fruity-profile" name="flavorProfile" value="fruity">
    <label for="flavorProfile">Fruity</label>
</div>
<div>
    <input type="checkbox" id="acidic-profile" name="flavorProfile" value="acidic">
    <label for="flavorProfile">Acidic</label>
</div>
<div>
    <input type="checkbox" id="nutty-profile" name="flavorProfile" value="nutty">
    <label for="flavorProfile">Nutty</label>
</div>
<div>
    <input type="checkbox" id="sweet-profile" name="flavorProfile" value="sweet">
    <label for="flavorProfile">Sweet</label>
</div>
<div>
    <input type="checkbox" id="floral-profile" name="flavorProfile" value="floral">
    <label for="flavorProfile">Floral</label>
</div>
<div>
    <input type="checkbox" id="burned-profile" name="flavorProfile" value="burned">
    <label for="flavorProfile">Burned</label>
</div>

<label for="log-description">Notes</label>
<input type="textarea" id="log-description" placeholder="add a few notes about your log" name="description">

<button>save log</button>