<nav class="nav">
    <a id="logo" href="/"> Coffee_Log</a>
    <div class="links">
        {{#if isLoggedIn}}
        <div class="nav-btn">
            <a class="btn red-background" href="/logs/create"> New log</a>
            <a class="btn red-border" href="/coffee/create"> New coffee</a>
        </div>
        <div class="dropdown">
            <p class="dropbtn">{{currentUser.firstname}}</p>
            <div class="dropdown-content">
                <a class="nav-link" href="/dashboard"> Dashboard</a>
                <a class="nav-link" href="/collection/logs"> Collection</a>
                <a class="nav-link" href="/user/{{currentUser._id}}"> Profile</a>
                <a class="nav-link" href="/auth/logout">Logout</a>
            </div>
        </div>
        {{/if}}
    </div>
</nav>