<nav class="nav">
    <a class="nav-link" href="/"> Coffee_Log</a>
    {{#if isLoggedIn}}
    <a class="nav-link" href="/logs/create"> New log</a>
    <a class="nav-link" href="/coffee/create"> New coffee</a>
    <a class="nav-link" href="/dashboard"> Dashboard</a>
    <a class="nav-link" href="/collection/logs"> Collection</a>
    <a class="nav-link" href="/user/{{currentUser._id}}"> Profile</a>
    <a class="nav-link" href="/auth/logout">Logout</a>
    {{/if}}
</nav>