<nav class="nav">
    <a class="nav-link" href="/"> Coffee_Log</a>
    <a class="nav-link" href="/logs/create"> New log</a>
    <a class="nav-link" href="/dashboard"> Dashboard</a>
    <a class="nav-link" href="/collection/logs"> Collection</a>
    <a class="nav-link" href="/user/{{user._id}}"> Profile</a>
</nav>