<nav class="nav">
    <a id="logo" href="/dashboard"> Coffee<span class="red-low-dash">_</span>Log</a>

    {{#if isLoggedIn}}
    <div class="nav-btn">
        <a class="btn red-border" href="/logs/create"><i class="fas fa-plus-circle"></i> new log</a>
        <a class="btn red-border" href="/coffee/create"><i class="fas fa-plus-circle"></i> new coffee</a>
    </div>

    <div class="links-container">
        <div class="links">
            <a class="nav-link {{isCurrentURL currentPath  "/dashboard"}}" href="/dashboard">Dashboard</a>
            <a class="nav-link {{isCurrentURL currentPath "/collection/logs/" "/collection/logs" "/collection/coffees/" "/collection/users" "/collection/techniques"}}" href="/collection/logs">Collections</a>
        </div>
 
        <div class="dropdown">
            <a class="dropbtn">{{currentUser.firstname}}  <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a class="nav-link" href="/user/{{currentUser._id}}"> <i class="fas fa-user"></i> Profile</a>
                <a class="nav-link" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
            {{/if}}
        </div>
    </div>
</nav>