<div class="card small-card techniques">
    <img src="{{this.image}}" alt="{{this.name}}">
    <div>
        <h2>{{this.name}}</h2>
        <h4>Recommended temperature: {{this.temperature}}C °</h4>
    </div>
</div>