<div class="card small-card techniques">
    <div>
        <img src="{{this.image}}" alt="{{this.name}}">
    </div>
    <div>
        <h2>{{this.name}}</h2>
        <h4>Optimal brewing temperature: {{this.temperature}}Cʡ</h4>
    </div>
</div>