<div class="flex-container">
    <div class="collection-nav">
        <div class="menu-title">
            <h2>Items</h2>
            <div class="underline"></div>
        </div>
        <div class="menu-links">
            <a href="/collection/logs"><i class="fas fa-bookmark"></i> Logs</a>
            <a href="/collection/coffees"><i class="fas fa-seedling"></i> Coffees</a>
            {{#if isAdmin}}
            <a href="/collection/users"><i class="fas fa-users"></i> Users</a>
            <a href="/collection/techniques"><i class="fas fa-coffee"></i> Techniques</a>
            {{/if}}
        </div>
    </div>

    <div class="cards-container">
        {{#each logs}}
        {{> log_card}}
        {{/each}}

        {{#each coffees}}
        {{> coffee_card}}
        {{/each}}

        {{#each users}}
        {{> user_card }}
        {{/each}}

        {{#each techniques}}
        {{> technique_card }}
        {{/each}}
    </div>
</div>