{{!-- - CREATE 2 PARTIALS: one for log card and another for coffee card 
- 2 <a></a> elements: 
    - one with route to fetch all coffees and send all coffees (as object)
    - one to fetch all logs and send all logs 
- create a {{each}} loop on that create cards:
    - if object send is coffee > call coffee partial inside the loop --}}
<div class="collection-nav">
    <a href="/collection/logs">Logs</a> ||
    <a href="/collection/coffees">Coffees</a>
    {{#if isAdmin}}
    || <a href="/collection/users">Users</a> ||
    <a href="/collection/techniques">Techniques</a>
    {{/if}}
</div>

<div class="cards-container">
        {{#each logs}}
        {{> log_card}}
        {{/each}}

        {{#each coffees}}
        {{> coffee_card}}
        {{/each}}

        {{#each users}}
        {{> user_card }}
        {{/each}}

        {{#each techniques}}
        {{> technique_card }}
        {{/each}}
</div>