<h1>Your dashboard</h1>

<div class="chart">
    <canvas id="myChart"></canvas>
</div>

<div class="feed-right">
    <h1 class="feed-title">Community coffee</h1>
    <div class="feed-content">
        {{#each coffees}}
        {{> feed_card}}
        {{/each}}
    </div>
</div>