<h1>Your dashboard</h1>

<div class="chart">
    <canvas id="myChart"></canvas>
</div>

<div class="chart">
    <canvas id="chart2"></canvas>
</div>

<div class="infos-box">
    <div class="fav-coffee"></div>
    <div class="num-of-coffees"></div>
</div>

<div class="feed-right">
    <h1 class="feed-title"><i class="fas fa-users"></i> Community coffees</h1>
    <div class="feed-content">
        {{#each coffees}}
        {{> feed_card}}
        {{/each}}
    </div>
</div>