    <h1 class="dash-title">Your dashboard</h1>

<div class="main-dashboard">
    <div class="div-top">
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div class="div-bottom">
        <div class="chart-container">
            <canvas id="chart2"></canvas>
        </div>

        <div class="infos-box">
            <div class="fav-coffee"></div>
            <div class="num-of-coffees"></div>
        </div>
    </div>
</div>

<div class="feed-right">
    <h1 class="feed-title">Community coffee</h1>
    <div class="feed-content">
        {{#each coffees}}
        {{> feed_card}}
        {{/each}}
    </div>
</div>