<div class="dashboard-container">
    <div class="right">
        <h1 class="feed-title">
            <i class="fas fa-users"></i> Community coffees
        </h1>
        <div class="feed-content">
            {{#each coffees}}
            {{> feed_card}}
            {{/each}}
        </div>
    </div>

    <div class="top-left block">
        <div class="chart-container">
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>
    </div>

    <div class="top-right block">
        <div class="chart-container">
            <canvas id="chart2" width="400" height="300"></canvas>
        </div>
    </div>
    
    <div class="bottom block"> 

    </div>
</div>