<div class="alert-container">
        {{!-- <img class="small-screen-illu" src="/small-screen-illu.svg" alt="small-screen" /> --}}
        <div class="alert-small-screen">
                <p>
                        <i class="fas fa-lg fa-exclamation-circle"></i>
                         <b>Your screen seems too small...</b>
                        <br />
                        <br />
                        Sorry, for now <b>coffee_log</b> is only available on
                        <b>large screens. </b>
                        Please use a laptop or a tablet to enter.
                </p>
        </div>
</div>

<div class="full-screen-container">
        <div class="flex-container-home">
                <div class="home-baseline">
                        <h1>Coffee<span class="red-low-dash">_</span>Log</h1>
                        <h3>All your coffee journey in one place!</h3>
                </div>
                <div class="home-btn">
                        <a class="red-background btn-home" href="/auth/signin"><i class="fas fa-sign-in-alt"></i>
                                Signin</a>
                        <a class="btn-home red-border " href="/auth/signup"><i class="fas fa-user-plus"></i> Signup</a>
                </div>
        </div>
</div>