<form class="form-container" id="form-new-log" action="/logs/create" method="POST">

    <div id="form-log-tech-page" class="form">
        {{> form_log_tech}}
    </div>

    <div id="form-log-feedback-page" class="hidden form">
        {{> form_log_feedback}}
    </div>

</form>
<div id="add-new-coffee" class="form-container hidden">
    {{> form_coffee}}
</div>