<h1>Register a new log</h2>

    <form class="form" action="/logs/create" method="POST">

        <div id="form-log-tech-page" class="form">
            {{> form_log_tech}}
        </div>

        <a id="new-log-back-btn" class="hidden">go back</a>
        <div id="form-log-feedback-page" class="form hidden">
            {{> form_log_feedback}}
        </div>

    </form>

    <a id="new-coffee-back-btn" class="hidden">go back</a>
    <div id="add-new-coffee" class="hidden">
        {{> form_coffee}}
    </div>