.dash-title {
  position: relative;
  margin-left: 40px;
  margin-top: 50px;
  font-size: 3rem;
  font-weight: 500;
}

.main-dashboard {
  position: absolute;
  bottom: 10px;
  width: 67%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.div-top > .chart-container {
  position: relative;
  max-width: 60%;
  margin: auto;
}

.div-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 15px;
  min-height: 40vh;
  margin: 10px 0 50px 100px;
}

.div-bottom > .chart-container {
  position: relative;
  width: 70%;
}

.div-bottom > .infos-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 350px;
  height: 80%;
  font-size: 1.7rem;
  margin-right: 70px;
}

.feed-right {
  position: absolute;
  width: 300px;
  height: 80vh;
  overflow: scroll;
  top: 120px;
  right: 40px;
}

.feed-title {
  position: fixed;
  width: 100%;
  background-color: var(--gray);
  z-index: 10;
  padding: 20px;
  font-weight: 700;
  font-size: 2rem;
}

.feed-content {
  position: relative;
  top: 60px;
}
