.full-screen-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.flex-container-home {
  min-height: 60vh;
  min-width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--light-gray);
  border-radius: 15px;
  font-size: 2rem;
  margin: auto;
}

.home-baseline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}

.home-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-container-home h1 {
  font-size: 8rem;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Bree Serif", serif;
}

.btn-home {
  padding: 15px;
  text-align: center;
  width: 15%;
  border-radius: 10px;
  cursor: pointer;
}

.home-btn a:not(:last-child) {
  margin-right: 15px;
}

.alert-small-screen {
  margin: 20px;
  max-width: 90vw;
  line-height: 1.8;
  font-size: 1.5rem;
}

.alert-container {
  margin-top: 30px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-screen-illu {
  max-width: 280px;
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  .full-screen-container {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .alert-container {
    display: none;
  }
}
