.form-container {
  height: 85%;
  width: 60vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-gray);
  border-radius: 15px;
  font-size: 1.8rem;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 100vw;
  margin: 4rem;
}

.form-title {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--red);
}

.form-radio-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.form-radio-title {
  font-weight: 600;
}

.form-item {
  font-size: 1.5rem;
  font-weight: 500;
  border: 2px solid var(--black);
  display: flex;
  align-items: center;
  width: 50vw;
  border-radius: 5px;
}

.form-label {
  background-color: var(--black);
  color: var(--light-gray);
  padding: 1rem;
  width: 15%;
}

.form-input {
  background-color: var(--light-gray);
  border: none;
  padding-left: 1rem;
  width: 85%;
}

.form-btn {
  max-width: 20%;
  text-align: center;
}

.btn-new-coffee-container {
  display: flex;
  justify-content: flex-end;
  max-width: 50vw;
}

.notes-item {
  display: flex;
  flex-direction: column;
}

.notes-label {
  background-color: var(--black);
  color: var(--light-gray);
  padding: 1rem;
  border-radius: 5px;
}

.notes-input {
  background-color: var(--light-gray);
  border: none;
  padding: 20px;
  border-radius: 5px;
}

.flex-btn-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.flex-btn-container a {
  color: var(--red);
}

#add-new-coffee-btn {
  padding: 0.7rem;
  font-size: 1.3rem;
}

#new-log-next-btn:hover {
  background-color: var(--red);
  color: white;
}

/* forms for edit pages */

.large-form-container {
  height: 85%;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--light-gray);
  border-radius: 15px;
  font-size: 1.4rem;
}

.flex-column {
  flex-direction: column;
}

.half-form1 {
  min-height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.half-form2 {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}