.flex-container {
  display: flex;
  padding-top: 10px;
}

.collection-nav {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  min-width: 15%;
  padding-right: 25px;
}

.collection-nav a:not(:last-child) {
  margin-bottom: 20px;
}

.menu-title {
  font-weight: 600;
  margin-bottom: 30px;
}

.underline {
  padding-top: 10px;
  border-bottom: 2px solid var(--black);
}

.menu-links {
  display: flex;
  flex-direction: column;
}

.menu-links i {
  font-size: 1.5rem;
  margin-right: 3px;
}

.cards-container {
  min-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.card {
  font-size: 1.5rem;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 15px;
  margin: 5px;
  transition: 0.2s ease-out;
  min-height: 200px;
}

.card.small-card {
  min-height: 100px;
}

.card h2 {
  font-size: 1.7rem;
  font-weight: 600;
}

.card span {
  font-weight: 600;
}

.btn-edit-coffee {
  margin-top: 5px;
}

.title-delete-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-delete-container h2 {
  color: var(--red);
  font-size: 2.3rem;
}

.method-container {
  display: flex;
  align-items: center;
}

.method-container h2 {
  margin-bottom: 5px;
}

.method-container img {
  max-width: 40px;
  margin-right: 5px;
}



.card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.menu-links a:hover {
  color: var(--red);
  font-weight: 500;
}

.feedback-container fa-star {
  color: var(--yellow);
}
